
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>@ViewBag.Title</title>
    <meta content="" name="descriptison">
    <meta content="" name="keywords">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>


    <!-- Favicons -->
    <link href="~/Content/img/favicon.png" rel="icon">
    <link href="~/Content/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,600,600i,700,700i,900" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/Content/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/vendor/icofont/icofont.min.css" rel="stylesheet">
    <link href="~/Content/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/Content/vendor/animate.css/animate.min.css" rel="stylesheet">
    <link href="~/Content/vendor/venobox/venobox.css" rel="stylesheet">
    <link href="~/Content/vendor/aos/aos.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="~/Content/css/style.css" rel="stylesheet">

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</head>

<body>

    <!-- ======= Top Bar ======= -->
    <section id="topbar" class="d-none d-lg-block">
        <div class="container clearfix">
            <div class="contact-info float-left">
                <i class="icofont-envelope"></i><a href="mailto:contact@ctth.ma">contact@ctth.ma</a>
                <i class="icofont-phone">+212 522 975 693</i>
                <i class="icofont-phone">+212 522 973 995</i>
                <i class="icofont-envelope">Fax :+212 522 973 471</i>
            </div>
            <div class="social-links float-right">
                <a href="#" class="twitter"><i class="icofont-twitter"></i></a>
                <a href="#" class="facebook"><i class="icofont-facebook"></i></a>
                <a href="#" class="instagram"><i class="icofont-instagram"></i></a>
                <a href="#" class="skype"><i class="icofont-skype"></i></a>
                <a href="#" class="linkedin"><i class="icofont-linkedin"></i></a>
            </div>
        </div>
    </section>

    <!-- ======= Header ======= -->
    <header id="header" style="height:120px">
        <div class="container">

            <div class="logo float-left">

                <img src=' ~/Content/img/slide/favicon.png' />

                <span style="color:aquamarine"> Centre Technique  </span><span style="color:darkgray ;"> Du Textile et Habillement    </span>
                <span style="margin-left:350px;">
                    <span style="        color: aquamarine;
        font-size: large;
">       مركز التقني       </span><span style="        color: darkgray;
        font-size: large;
">  للنسيج والألبسة     </span>
                </span>
                <!-- Uncomment below if you prefer to use an image logo -->
                <!-- <a href="index.html"><img src="Content/img/logo.png" alt="" class="img-fluid"></a>-->
            </div>

            <nav class="nav-menu float-right d-none d-lg-block">
                <ul>
                    <li><a href="~/#header">Acceuil</a></li>



                    <li class="drop-down">
                        <a>Qui sommes nous ? </a>
                        <ul>

                            <li><a href="~/#about">A propos de nous </a></li>
                            
                            <li><a href="http://rectim.ma/">Rectim </a></li>

                        </ul>
                    </li>
                    <li class="drop-down">

                        <a href="~/#portfolio">Offre de services  </a>

                        <ul id="portfolio-flters">

                            <a href="~/#portfolio">

                                <li data-filter=".filter-labo">
                                    laboratoires


                                </li>
                            </a>
                                <a href="~/#portfolio">
                                    <li data-filter=".filter-elaboration">
                                        Elaboration de plans de formations
                                    </li>
                                </a>



                                <a href="~/#portfolio">
                                    <li data-filter=".filter-Formations">
                                        Formations / séminaires
                                    </li>
                                </a>
                                <a href="~/#portfolio">
                                    <li data-filter=".filter-realisation">Réalisation d’audit ou diagnostics techniques</li>
                                </a>
                                <a href="~/#portfolio">
                                    <li data-filter=".filter-Assistance">
                                        Assistance technique

                                    </li>
                                </a>
                                <a href="~/#portfolio">
                                    <li data-filter=".filter-dev">
                                        Recherche et développement

                                    </li>
                                </a>



                        </ul>

                </li>



                <li>
                    <!--  ~/#portfolio -->

                    @Html.ActionLink("Communication et téléchargement ", "Espace_telechargement", "Home")


                </li>





                <li><a href="~/#contact">Contact </a></li>
                </ul>
            </nav><!-- .nav-menu -->
        </div>
    </header>

    <!-- End Header -->
    @RenderBody()
   

    <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

    <!-- Vendor JS Files -->
    <script src="~/Content/vendor/jquery/jquery.min.js"></script>
    <script src="~/Content/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/Content/vendor/jquery.easing/jquery.easing.min.js"></script>
    <script src="~/Content/vendor/php-email-form/validate.js"></script>
    <script src="~/Content/vendor/jquery-sticky/jquery.sticky.js"></script>
    <script src="~/Content/vendor/venobox/venobox.min.js"></script>
    <script src="~/Content/vendor/waypoints/jquery.waypoints.min.js"></script>
    <script src="~/Content/vendor/counterup/counterup.min.js"></script>
    <script src="~/Content/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="~/Content/vendor/aos/aos.js"></script>

    <!-- Template Main JS File -->
    <script src="~/Content/js/main.js"></script>

</body>

</html>
<!-- Fichiers Javascript -->
